<p>userorder works!</p>

<div class="id1" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="addbalanceform" (ngSubmit)="Continue()">
                                <div class="col-md-12">
                                    <p>Name:  {{formdata1[0].Name}}</p>
                                </div>
                                <div class="col-md-12">
                                        <p>Account Number.  {{formdata1[0].AccountNo}}</p>
                                </div>
                       
                        <div class="col-md-12" >
                                <p>Balance {{formdata1[0].Balance}}</p>
                        </div>
                          
                        <div class="form-group">
                                <label>Add Balance</label>
                                <input type="text" formControlName="addbalance" minlength="2" OnlyNumber="true"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addbalance.errors }" />
                                <div *ngIf="submitted && f.addbalance.errors" class="invalid-feedback">
                                    <div *ngIf="f.addbalance.errors.required">*Please enter amount first</div>
                                   
                                </div>
                            </div>
                            
                        <div class="form-group">
                                        <label>PIN</label>
                                        <input type="password" minlength="4" maxlength="4" formControlName="pin"  OnlyNumber="true"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
                                        <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                                            <div *ngIf="f.pin.errors.required">*PIN is required</div>
                                            <div *ngIf="f.pin.errors.minlength">*PIN must be of least 4 digit</div>
                                        </div>
                                    </div>
        
                               
                    <div class="form-group col-md-12">
                        <button class="btn btn-default" >Add Money</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



