<div class="container-fluid">

    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="header-logo text-center" >
            <a class="logo" href="#">
                <img src="assets/images/smartshoplogo.jpg" alt="SmartShop">
            </a>
        </div>
        <div class="btn btn-success" *ngIf="message!=null">{{message}}</div>
            <div class="card">

                    <h5 class="card-header info-color white-text text-center py-4">
                      <strong>Become a Seller</strong>
                    </h5>


                    <div class="card-body px-lg-5 pt-0">


                      <form class="text-center" style="color: #757575;" action="#!" [formGroup]="becomesellerform" (ngSubmit)="onSubmit()">

                        <!--gst-->
                        

                        <div class="md-form">
                            <input formControlName="GST" type="text" id="GST" class="form-control mail" placeholder="GST No." pattern="[0-9]+">
                                  <div *ngIf=" GST.invalid && GST.touched">
                                      <small *ngIf=" GST.errors?.required" class="text-danger">GST is required</small>
                                      <small *ngIf="GST.errors?.minlength" class="text-danger">require 6 digits.... </small><br>
                                      <small *ngIf="GST.errors?.maxlength" class="text-danger">require 6 digits....</small><br>
                                      <small *ngIf="GST.errors?.pattern" class="text-danger">only digits</small>
                     </div>
                    </div>
                          
                          <button [disabled]='!becomesellerform.valid'  class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 seller" type="submit">Continue</button>

                       
                      </form>


                    </div>

                  </div>
    </div>
    <div class="col-md-4"></div>
    </div>
    </div>
