<p-sidebar class="sidebar">
   <div class="sd-nav-wrp">   
   <!-- <form class="search-container">
            <input type="text" id="search-bar" placeholder="search">
            <a href="#" class="search-icon">
                <i class="fa fa-search"></i>
            </a>
          </form> -->
  
            <!-- <div class="layout-menu-search ui-fluid">
               <p-autocomplete  class="ng-tns-c0-0 ng-tns-c1-1 ng-valid ng-dirty ng-touched" placeholder="Search">
                  <span class="ng-tns-c1-1 ui-autocomplete ui-widget">
                     <input aria-autocomplete="list" aria-haspopup="true" autocomplete="off" role="combobox" class="ng-tns-c1-1 ui-inputtext ui-widget ui-state-default ui-corner-all ui-autocomplete-input ng-star-inserted" type="text" aria-expanded="false" aria-activedescendant="p-highlighted-option" placeholder="Search">
                     </span></p-autocomplete>
                     <i class="pi pi-search"></i></div> -->
                    




      <div class="table">
      <ul class="nav navbar-nav ml-auto navbar-right nv-lnk">
            <li><a [routerLink]="['/person-detail']" class="active scroll">Personal Details </a></li>
            <li><a [routerLink]="['/check-balance']" class="scroll">Check Balance</a></li>
            <li><a [routerLink]="['/tansaction']" class="scroll">Transaction History</a></li>
            <li> <a [routerLink]="['/send-money']" class="scroll">Send Money</a></li>
            <li><a [routerLink]="['/add-money']" class="scroll">Add Money</a></li>
        </ul>
     </div>
     </div>
    </p-sidebar>
    
    
    