

<div class="id1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="emailverificationform" (ngSubmit)="showdata()">
                       

                        <div class="form-group">
                                <label>Email</label>
                                <input type="text" formControlName="email" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">*Email is required</div>
                                    <div *ngIf="f.email.errors.email">*Email must be a valid email address</div>
                                </div>
                            </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-default">Continue</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div id="modalTarget" *ngIf="!istrue">
        <ejs-dialog id="modalDialog" #modalDialog (overlayClick)="overlayClick()"   [isModal]='isModal' [header]='header' [target]='target' [width]='width' [buttons]='buttons' [animationSettings]='animationSettings' [content]='content'   (open)="modalDlgOpen()"      (close)="modalDlgClose()" >
    </ejs-dialog>
    <div> -->
 <ngx-spinner><p style="color: cornsilk" > sending link... </p></ngx-spinner>

