<!-- <app-navbar></app-navbar> -->


<head>
  <title>MiniBank &mdash; Peoples's Bank</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/css/style.css" />
</head>


  <div class="site-wrap" id="home-section">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <div #home id="home">
    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
        style="background-image: url('assets/images/bank.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h1 class="mb-3">MiniBank &mdash; Peoples's Bank</h1>
              <p>MiniBank welcomes you to our family,Please Register yourself to know more about us and use our
                services..!! </p>
              <p><a [routerLink]="['/register']" class="btn btn-primary">Register Here..!!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    <div #about id="about">
      <div class="site-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 mr-auto">
              <h2 class="serif font-weight-bold mb-3">Bank which is like a Family</h2>
              <p class="font-weight-bold">Welcome to MiniBank</p>
              <p>MiniBank welcomes you to our family, MiniBank is a bank in which you can save your money without any
                tension or worries. Here you can save or send money to others anytime, anywhere without tension.</p>


              <div class="col-sm-6">
                  <a href="https://twitter.com/minibank13"><span class="icon-twitter" ><img 
                    src="assets/icon/twitter.png" width="50" height="50"></span></a>
    
                    <!-- <a href="#"><span class="icon-instagram"></span></a> -->
    
                    <a href="https://www.facebook.com/mini.bank.3363"><span class="icon-facebook"> <img src="assets/icon/fb.png" width="70" height="70"></span></a>
    
                    <a href="https://www.linkedin.com/in/mini-bank-585950194/"><span class="icon-linkedin">
                        <img src="assets/icon/lk.png" width="50" height="50">
                    </span></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-center">
                <div class="bg-img-1 mr-md-4 mt-md-5" style="background-image: url('assets/images/bank1.jpg');"></div>
                <div class="bg-img-1" style="background-image: url('assets/images/unity.jpg');"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div #services id="services">
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="heading-border-bottom font-weight-bold serif text-black mb-5 text-center">Our Services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <div class="service_13987">
                <a  class="mb-3 d-block"><img src="assets/images/access.png" alt="Image" class="img-fluid"></a>
                <div class="text">
                  <h3 class="serif mb-3">Accessibility</h3>
                  <p>MiniBank can be accessed anytime anywhere</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <div class="service_13987">
                <a  class="mb-3 d-block"><img src="assets/images/savings.jpg" alt="Image" class="img-fluid"></a>
                <div class="text">
                  <h3 class="serif mb-3">Savings</h3>
                  <p>You can become a part of our family by open a saving account and it is absolutely free..!!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <div class="service_13987">
                <a  class="mb-3 d-block"><img src="assets/images/easy.jpg" alt="Image" class="img-fluid"></a>
                <div class="text">
                  <h3 class="serif mb-3">Easy to Use</h3>
                  <p>This bank is easy to use and go, you just have to login and all of our services can be used by you.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <div class="service_13987">
                <a  class="mb-3 d-block"><img src="assets/images/security.jpg" alt="Image"
                    class="img-fluid"></a>
                <div class="text">
                  <h3 class="serif mb-3">Security</h3>
                  <p>Worried about money transactions..?? Don't worry, we got you covered.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div #features id="features">
      <div class="site-section bg-image overlay features_75651" style="background-image: url('assets/images/bank.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="heading-border-bottom font-weight-bold serif text-white mb-5">MiniBank Features</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="block_75651">
                <div class="wrap-icon">
                  <span class="flaticon-towel"></span>
                </div>
                <div class="text">
                  <h3>Send Money</h3>
                  <p>Send money to friends or family without any worries..!!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="block_75651">
                <div class="wrap-icon">
                  <span class="flaticon-candle"></span>
                </div>
                <div class="text">
                  <h3>Add Money</h3>
                  <p>Add money to your account and spend where ever you want.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="block_75651">
                <div class="wrap-icon">
                  <span class="flaticon-bathrobe"></span>
                </div>
                <div class="text">
                  <h3>Check Transactions</h3>
                  <p>Check your previous transactions for making monthly bills.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="block_75651">
                <div class="wrap-icon">
                  <span class="flaticon-hot-stones"></span>
                </div>
                <div class="text">
                  <h3>Shop via OTP</h3>
                  <p>Shop anywhere by entering your account number and OTP.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div #testimonials id="testimonials">
      <div class="site-section">
        <div class="text-center">
          <h2 class="heading-border-bottom font-weight-bold serif text-black mb-5 text-center">Testimonials</h2>
        </div>
        <div class="nonloop-block-13 owl-carousel d-flex">
          <div>
            <div class="testimonial-2">
              <div class="d-flex v-card align-items-center mb-4">
                <img src="assets/images/rdj.jpg" alt="Image" class="img-fluid mr-3">
                <span>Robert Downey Jr.</span>
              </div>
              <blockquote>
                <p>"This is the bank we have been waiting for, I just loved it. You can shop anywhere and can pay just
                  by entering your account no. and an OTP..!!"</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial-2">
              <div class="d-flex v-card align-items-center mb-4">
                <img src="assets/images/cap.jpg" alt="Image" class="img-fluid mr-3">
                <span>Chris Evans</span>
              </div>
              <blockquote>
                <p>"I love to shop from here and there,I love to wander new places but I hate when it comes to keeping
                  money and for this MiniBank got me covered..!!"</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial-2">
              <div class="d-flex v-card align-items-center mb-4">
                <img src="assets/images/chris.jpg" alt="Image" class="img-fluid mr-3">
                <span>Chris Hemsworth</span>
              </div>
              <blockquote>
                <p>"I love my physique but I hate carrying money thats why I use MiniBank to send money to others or
                  retailers. One should try lovely MiniBank."</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial-2">
              <div class="d-flex v-card align-items-center mb-4">
                <img src="assets/images/scar.jpg" alt="Image" class="img-fluid mr-3">
                <span>scarlet johansson</span>
              </div>
              <blockquote>
                <p>"When I go shopping I always pay to retailers through my bank account. The bank is just like family,
                  they always help me in payments."</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial-2">
              <div class="d-flex v-card align-items-center mb-4">
                <img src="assets/images/jer.jpg" alt="Image" class="img-fluid mr-3">
                <span>Jeremy Renner</span>
              </div>
              <blockquote>
                <p>"I am an employee of MiniBank and I am assured that my money is safe in this bank and i suggest you
                  all to open a account in this bank."</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div #CEO id="CEO">
      <div class="site-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 mr-auto">
              <blockquote class="testimonial_38201">
                <p class="serif h3 font-weight-bold testimonial_38201"><span
                    class="text-primary">&ldquo;</span>"Everyday is a bank account, and time is our currency"<span
                    class="text-primary">&rdquo;</span></p>
                <p>&mdash; David Beckham, <span class="text-muted">MiniBank CEO</span></p>
              </blockquote>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-center">
                <div class="bg-img-1 mr-md-4 mt-md-5" style="background-image: url('assets/images/a1.jpg'); "></div>
                <div class="bg-img-1" style="background-image: url('assets/images/easy.jpg'); "></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div #contact id="contact">
      <footer class="site-footer bg-image overlay" style="background-image: url('assets/images/bank.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <h3 class="font-weight-bold serif text-white">MiniBank</h3>
            </div>
            <div class="col-12 text-center mb-5">
              <a href="#" class="">Home</a>
              <span class="mx-3"></span>
              <a href="/home#about" class="">About</a>
              <span class="mx-3"></span>
              <a href="/home#services" class="">Services</a>
              <span class="mx-3"></span>
              <a href="/home#features" class="">Features</a>
              <span class="mx-3"></span>
              <a href="/home#contact" class="">Contact</a>
            </div>

            
            <div class="col-12 text-center mb-5">
              <div class="social_29128 white text-center">
                <a href="https://twitter.com/minibank13"><span class="icon-twitter" ><img 
                src="assets/icon/twitter.png" width="50" height="50"></span></a>

                <!-- <a href="#"><span class="icon-instagram"></span></a> -->

                <a href="https://www.facebook.com/mini.bank.3363"><span class="icon-facebook"> <img src="assets/icon/fb.png" width="70" height="70"></span></a>

                <a href="https://www.linkedin.com/in/mini-bank-585950194/"><span class="icon-linkedin">
                    <img src="assets/icon/lk.png" width="50" height="50">
                </span></a>
              </div>
            </div>



          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
    
    
    
                <p>© 2019
                  <a href="#">MiniBank</a>. All rights reserved. Created by
                  <a href="#">SmartData</a>
                </p>
    
    
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    
    </div>