<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="header-logo text-center" >
            <a class="logo" routerLink="/homepage">
                <img src="assets/images/smartshoplogo.jpg" alt="SmartShop">
            </a>
        </div>
        <div class="btn btn-success" *ngIf="message!=null">{{message}}</div>
            <div class="card">

                    <h5 class="card-header info-color white-text text-center py-4">
                      <strong>Change Password</strong>
                    </h5>

                    <div class="card-body px-lg-5 pt-0">

                    <form class="text-center" style="color: #757575;" action="#!" [formGroup]="changepassword" (ngSubmit)="onSubmit()">

                       <!--Old Password -->
                       <div class="md-form">

                          <input type="password" id="password" class="form-control mail" placeholder="Old Password" formControlName="OldPassword">
                          <div *ngIf=" OldPassword.invalid && OldPassword.touched">
                            <small *ngIf="OldPassword.errors?.required" class="text-danger">Old Password is required</small>
                            <small *ngIf="OldPassword.errors?.minlength" class="text-danger">Old Password length must be 8</small>
                            <small *ngIf="OldPassword.errors?.maxlength" class="text-danger">Old Password length must be less than 20</small>
                        </div>
                      </div>

                      <!--New Password -->
                      <div class="md-form">

                        <input type="password" id="password" class="form-control mail" placeholder="New Password" formControlName="NewPassword">
                        <div *ngIf=" NewPassword.invalid && NewPassword.touched">
                          <small *ngIf="NewPassword.errors?.required" class="text-danger">New Password is required</small>
                          <small *ngIf="NewPassword.errors?.minlength" class="text-danger">New Password length must be 8</small>
                          <small *ngIf="NewPassword.errors?.maxlength" class="text-danger">New Password length must be less than 20</small>
                      </div>
                    </div>
                        
                      <!-- Sign in button -->
                        <button [disabled]='!changepassword.valid' class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 changepass" type="submit">Sign In</button>
                      </form>
                    </div>
                  </div>
    </div>
    <div class="col-md-4"></div>
    </div>
    </div>

    <app-footer></app-footer>