.btn{
    background-color: cornflowerblue;
    color:white;
    margin-left: 100px;

}
.card-img-top {
  width: 140px;
  height: 100px;
  margin-left: 26%;
  margin-top: 10px;
  margin-right: 24%;
  background-position: center;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
element.style {
  height: 41px;
  margin-bottom: -12px;
}