<app-admin></app-admin>

<div class="container" style="margin-top: 100px;">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
                                <th style="width:10%">FirstName</th>
                                <th style="width:10%">LastName</th>
                                <th style="width:10%">EmailId</th>
								<th style="width:10%">Email-Verified</th>
								<th style="width:10%">Role</th>
						    	<th style="width:10%">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let buy of buyerlist">
							<td data-th="FirstName">{{buy.FirstName}}</td>	
							<td data-th="LastName">{{buy.LastName}}</td>
							<td data-th="EmailId" >{{buy.Email}}</td>
							<td data-th="Email-Verified" >{{buy.IsVerified}}</td>
							<td data-th="Role" >{{buy.RoleName}}</td>
							<td class="actions" data-th="">
                             <!-- <button  class="btn btn-primary" (click)="activatebuyer(buy.MasterUserId)">Activate</button> -->
                                <button  class="btn btn-danger" (click)="deactivatebuyer(buy.MasterUserId)">Deactivate</button>
                            </td>
                           
                        </tr>
                        
                    </tbody>
               
					<!-- <tfoot>
						
						<tr  >
							<td><a routerLink="/homepage" ><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
						</tr>
					</tfoot> -->
				</table>
</div>
