


<div class="content-block">
        <div class="id1">
                <div class="container">
                        <div class="row" >
                                <table style="width:100%">
                                        <tr>
                                                <th>Account no.</th>:
                                                <td>{{formdata.AccountNo}}</td>
                                        </tr>
                                        <tr>
                                                <th>Balance </th>:
                                                <td>Rs. {{formdata.Balance | number: '2.'}}</td>
                                        </tr>
                                        

                                </table>


                        </div>
                </div>
        </div>
</div>




