<!-- <app-header></app-header>

<h3 class="text-center" style="margin-top: 60px;">Payment</h3>
<div class="container-fluid">
<div class="row">
  <div class="card  " style="margin-left:290px;margin-top: 127px;" *ngFor="let Details of details" >
   
    <div class="card-body">
      <h5 class="card-title ">Payment: {{Details.PaymentStatus}}</h5>
      <h5 class="card-title ">Product: {{Details.ProductName}}</h5>
      <h5 class="card-title ">Address: {{Details.Address}},{{Details.PIN}}</h5>
      <h5 class="card-title ">TotalAmount: {{Details.TotalAmount}}</h5>
     
      <p class="card-text text-center"></p>
     
        <button class="btn" style="margin-left: 342px;" routerLink="/buyer/myorders">Done</button>
       </div>

     

  </div>
  </div>
  
</div> -->
<ngx-spinner><p style="color: cornsilk" > Loading... </p>
</ngx-spinner>