<div class="container">
    
      <form class="mat-dialog" (ngSubmit)="submit" [formGroup]="ngForm">
     
           <div class="form">
               <mat-form-field color="accent">
                 <textarea matInput #input class="form-control" placeholder="Category Name" formControlName="CategoryName"    required ></textarea>
                 
               </mat-form-field>
             </div>
            
            <div mat-dialog-actions>
           <button class="btn btn-primary" mat-button [type]="submit"  [mat-dialog-close]="1" [disabled]="!ngForm.valid"
           (click)="AddCategories()">Save</button>
                <button class="btn btn-secondary" mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
      </form>
      </div>
      
