
<div  class="id1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="loginform" (ngSubmit)="login()">
                    <div class="login">
                            <legend id="legend"><b>login</b></legend><br>
                    </div>
                        

                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">*Email is required</div>
                                <div *ngIf="f.email.errors.email">*Email must be a valid email address</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>PIN</label>
                            <input type="password" maxlength="4" formControlName="pin" required OnlyNumber="true" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
                            <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                                <div *ngIf="f.pin.errors.required">*PIN is required</div>
                                <div *ngIf="f.pin.errors.minlength">*PIN must be of 4 digit</div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <p><input type="checkbox" (change)="checkCheckBoxvalue($event)"> remember me?</p>
                                    </div> 
                                        <div class="text-right col-md-6">
                                    <a [routerLink]="['/forgotpass']">forgot password?</a>
                                </div>
                        </div>
                        
                   <div class="row">
                        <div class="form-group col-md-12">
                            <button class="btn btn-default">Login</button>
                        </div>
                    </div>
                    <div class="link">
                        <a [routerLink]="['/register']">New to this site? Create Account</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div> 
<!-- 
 <mat-checkbox (change)="checkCheckBoxvalue($event)">Check me!</mat-checkbox> -->

<!--  
        <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
            
        
        
       
          
          <div>And <b>ngModel</b> also works, it's value is <b>{{theCheckbox}}</b></div> -->
          
  
